.content-top {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pessoa-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pessoa-card {
  flex: 0 0 calc(25% - 20px);
}

.pessoa-card h3 {
  margin: 0;
  padding-bottom: 12px;
}

.pessoa-card button {
  margin-top: 20px;
}

.filtro-pesquisa {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}